/* General styles */

body {
  margin: 0;
}

body > * {
  padding: 10px;
  font-size: 20px;
  border: 20px solid rgba(0,0,0,0.5);
}

/* Individual boxes */

header, footer {
  background-color: lightseagreen;
  color: white;
}

main {
  background-color: pink;
  margin: -30px 5% 5%;
  padding: 0 5%;
  border: 40px ridge blue;
  width: 350px;
  height: 200px;
  background-clip: content-box;
  overflow: auto;
}

footer {
  margin-top: 60px;
}

p {
  margin: 0;
}
